.header {
    position: relative;
    display: flex;
    width: 100%;
    height: 90px;
    margin-bottom: 100px;
}

.fav {
    position: absolute; 
    right: 20px;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-top: 20px;
}

.btnT {
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 10px 5px 5px  rgba(0, 0, 0, 0.568);
    margin: 20px;
}

.btnT:focus {
    outline: none;
}

.fa-heart {
    font-size: 40px;
}
.fas {
    color: rgb(163, 7, 7);
}

/*search city**/
.sear-city {
    position: absolute; 
    left: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.details {
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 12px;
}

.fa-window-close {
    font-size: 100px;
    margin-left: 20px;
}

@media screen and (max-width: 660px) {
    .btnT {
        font-size: 14px;
    }
    .fa-heart {
        font-size: 35px;
    }
}

@media screen and (max-width: 560px) {
    .btnT {
        font-size: 10px;
    }
    .fa-heart {
        font-size: 25px;
    }
}