.income {
    /* float: left; */
    padding: 10px;
    width: 475px;
    margin-right: 50px;
    font-family: 'Comic Neue';
    font-weight: 600;
    font-size: 20px;
}

.icome__title { 
    color: #59b300; 
    font-weight: 600;
    font-size: 25px;
}

.income__list {
    margin-top: 5px;
}

ul {
    list-style: none;
}



