* {
    margin: 0;
}

body {
    background: #232323;
}

h1 {
    padding: 25px;
    background-color: steelblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
    line-height: 1.1;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
    height: 140px;
    color: white;
    letter-spacing: 1px;
}

.colorDisplay { 
    font-size: 200%;
}

.strip{
    position: relative;
    background: white;
    height: 30px;
    text-align: center;
}

.message {
    color: steelblue;
    display: inline-block;
    width: 4%;
    white-space: nowrap;
    /* color: white; */
    margin-right: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: normal;
    font-size: 20px;
}

.selected {
    background: steelblue;
    color: white;
}

button {
    border: none;
    background: white;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: background 0.3s;
    outline: none;
}


button:hover {
    background: steelblue;
    color: white;
}

.reset{
    margin-right: 100px;
}

.board {
    margin: 20px auto;
    max-width: 600px;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: all 0.5s;
}





