.trans-headline {
    color: white;
    font-size: 20px;
}

.add__container {
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.add__type {
    width: 55px;
    height: 44px;
    font-size: 20px;
    transition: border 0.3s;
    border-radius: 25px 0 0 25px;
    background-color: #5ab30088;
    color: #fff;
    border: none;
    border-right: solid;
}

.add__type::-webkit-inner-spin-button{
    appearance: none;
}

.add__description,
.add__value {
    height: 44px;
    font-size: 18px;
    font-family: inherit;
    padding: 12px 15px;
    transition: border 0.3s;
    border: none;
    background-color: #5ab30088;
    color: rgb(255, 255, 255);
}

.add__description { 
    width: 300px;
    border-right: solid;
}

.add__value { 
    width: 100px;
    border-radius: 0 25px 25px 0;
}
.add__description::placeholder{
    color: rgb(187, 187, 187);
}
.add__value::placeholder {
    color: rgb(187, 187, 187);
}
.add__value::-webkit-inner-spin-button{
    appearance: none;
}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #59b300;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #59b300;
}

.add__btn:focus { outline: none; }
.red-focus {background-color: #ff4f4988;}
.red-focus:focus { border: 1px solid #FF5049 !important; }
.red { color: #FF5049 !important; }/*icon color*/

